In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

#### Truncation doesn't work directly

Database seems to use the most updated version of all data for any query, no possibility to access specific "version" with data from specific date of digitalization.

In [2]:
# 3550308 = SP city geocode
url = 'https://info.dengue.mat.br/api/alertcity'
search_filter = (
    'geocode=3550308&' + 
    'disease=dengue&format=csv&' +
    'ew_start=1&ew_end=19&' +
    'ey_start=2023&ey_end=2024'
)
df = pd.read_csv('%s?%s' % (url, search_filter))
print(url)
df.head()

https://info.dengue.mat.br/api/alertcity

,data_iniSE,SE,casos_est,casos_est_min,casos_est_max,casos,p_rt1,p_inc100k,Localidade_id,nivel,...,umidmed,umidmin,tempmed,tempmax,casprov,casprov_est,casprov_est_min,casprov_est_max,casconf,notif_accum_year
0,2024-05-05,202419,27556.5,22778,NaN,19398,0.000000e+00,225.86961,0,4,...,60.965476,53.330453,24.251634,25.411765,NaN,NaN,NaN,NaN,NaN,710129
1,2024-04-28,202418,35998.5,33009,NaN,30231,0.000000e+00,295.06530,0,4,...,64.160549,58.210259,24.375000,25.442308,NaN,NaN,NaN,NaN,NaN,710129
2,2024-04-21,202417,47136.0,44860,NaN,42604,0.000000e+00,386.35495,0,4,...,76.659021,71.981599,20.846667,21.780000,NaN,NaN,NaN,NaN,NaN,710129
3,2024-04-14,202416,59152.5,57478,NaN,55678,2.697842e-13,484.84940,0,4,...,81.966806,73.645721,20.519608,21.490196,NaN,NaN,NaN,NaN,NaN,710129
4,2024-04-07,202415,65686.5,64394,NaN,63141,1.000000e+00,538.40600,0,4,...,84.503322,78.779694,21.239583,21.895833,NaN,NaN,NaN,NaN,NaN,710129

In [4]:
from pysus.online_data import SINAN
sinan = SINAN().load()